.business-success-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 6.3rem; /* Increase the font size as desired */
}

.business-success-text-2 {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 1.9rem; /* Increase the font size as desired */
}

.strategic-management-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 3.8rem; /* Increase the font size as desired */
}
.powerful-features-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 3.8rem; /* Increase the font size as desired */
}
.premium-benefits-text {
  color: #fad655; /* Change the color to #FAD655 */
  font-size: 3.8rem; /* Increase the font size as desired */
}
.features-container {
  margin: 0rem 5.6875rem 7.75rem 5.6875rem;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 69rem;
  box-sizing: border-box;
  text-align: center;
}
.white-container-features {
  border-radius: 1.25rem;
  padding: 1.25rem;
  top: -3rem;
  position: relative;
  align-items: center;
  text-align: center;
  margin-left: 20%;
  box-sizing: border-box;
  height: 60%;
  width: 60%;
}
.slide {
  border-radius: 0.625rem;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  box-sizing: border-box;
}
.prev-button {
  border-radius: 0.625rem;
  position: absolute;
  top: 403%;
  margin-left: 48%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
}
.prev-button:hover {
  background-color: rgba(245, 90, 90, 0.8);
  color: #ffffff;
}
.prev-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.next-button {
  border-radius: 0.625rem;
  position: absolute;
  top: 403%;
  margin-left: 52%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
}
.next-button:hover {
  background-color: rgba(245, 90, 90, 0.8);
  color: #ffffff;
}
.next-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.increases {
  transition: transform 0.3s;
}
.increases:hover {
  transform: scale(0.9);
}
.swot-analysis {
  margin: 0rem 0.3125rem 0.5rem 0.3125rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.strategic-mapping {
  margin: 0rem 0.3125rem 0.75rem 0.3125rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.business-scorecard {
  margin: 0rem 0.625rem 0.4375rem 0.3125rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.data-analysis-and-visualization {
  margin: 0rem 0.4375rem 0.75rem 0.4375rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 1.5625rem;
  color: #ffffff;
  box-sizing: border-box;
}
.swot-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.swot-feature-container:hover {
  transform: scale(1.1);
}
.stratmap-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.stratmap-feature-container:hover {
  transform: scale(1.1);
}
.scorecard-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.scorecard-feature-container:hover {
  transform: scale(1.1);
}
.visualization-feature-container {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}
.visualization-feature-container:hover {
  transform: scale(1.1);
}

/* Remove the default border of the entire calendar */
.react-calendar {
  border: none;
}

/* Alternatively, change the border color to white */
.react-calendar {
  border: 1px solid white !important;
  width: 50rem;
  height: 27rem;
}

/* Adjust the border of individual tiles if needed */
.react-calendar__tile {
  border: 1px solid white !important;
  margin: 2px;
  font-size: 1rem !important;
  gap: 2rem;
}

/* Highlight today's date with custom styling */
.react-calendar__tile--now {
  background: #fdf3ca !important;
  color: white !important;
  border-radius: 50%;
  border-radius: 50%;
  font-size: 1rem;
  gap: 2rem;
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__days__day,
.react-calendar__navigation__label__labelText {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-decoration: none !important;
}

.react-calendar a {
  text-decoration: none !important;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  text-transform: capitalize !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #b83216 !important;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  gap: 1rem;
}

/* Styling for the month name */
.react-calendar__navigation__label {
  font-size: 2rem !important;
  font-weight: bold;
  color: #333;
  margin-top: 2rem;
}

/* Styling for the previous and next buttons */
.react-calendar__navigation__arrow {
  font-size: 1.5rem;
  color: #fff;
  background: #b83216 !important;
  width: 2rem !important;
  height: 3rem !important;
  border-radius: 2rem !important;
}

/* Ensure navigation buttons have no underline */
.react-calendar__navigation__arrow:link,
.react-calendar__navigation__arrow:visited,
.react-calendar__navigation__arrow:hover,
.react-calendar__navigation__arrow:active {
  text-decoration: none;
}

/* spinner */

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fad655;
  box-shadow: 30px 0 0 #d83f19;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #d83f19;
  box-shadow: 30px 0 0 #fad655;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #d83f19;
  }
  50% {
    box-shadow: 0 0 0 #d83f19;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #d83f19;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fad655;
  }
  50% {
    box-shadow: 0 0 0 #fad655;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fad655;
    margin-top: 0;
  }
}





